# Basic SQL with sqlite3
Create a table and run a simple query.

In [ ]:

import sqlite3
con = sqlite3.connect(':memory:')
cur = con.cursor()
cur.execute('CREATE TABLE students (name TEXT, score INTEGER)')
cur.executemany('INSERT INTO students VALUES (?,?)', [('Alice',90),('Bob',85),('Cara',92)])
con.commit()
for row in cur.execute('SELECT name, score FROM students WHERE score > 88'):
    print(row)
con.close()