# Lesson 2: Querying Data with `SELECT`

The most common task you'll perform with SQL is retrieving data. The `SELECT` statement is used for this.

### Setup

First, let's run the setup code again to initialize our database and create the `students` table.

In [ ]:
import pyodide_http
pyodide_http.patch_all()
import pandas as pd
import duckdb
%load_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False
%sql duckdb:///:memory:

%%sql
CREATE TABLE students (StudentID int, Name varchar, Age int, Grade int);
INSERT INTO students VALUES (1, 'Alice', 14, 90), (2, 'Bob', 15, 85), (3, 'Charlie', 14, 92);

### Selecting All Data

To select all columns from a table, you use `SELECT *`.

In [ ]:
%%sql
SELECT * FROM students;

### Selecting Specific Columns

To select only certain columns, you list their names after the `SELECT` keyword.

In [ ]:
%%sql
SELECT Name, Grade FROM students;

### Simple Calculations

You can also perform simple calculations within a `SELECT` statement. For example, let's see what the grades would be with a 5-point curve.

In [ ]:
%%sql
SELECT Name, Grade, Grade + 5 FROM students;

In the next lesson, you'll learn how to filter this data to get only the rows you're interested in using the `WHERE` clause.