# Lesson 3: Filtering Data with `WHERE`

Usually, you don't want to retrieve every single row from a table. The `WHERE` clause is used to filter records and extract only those that fulfill a specified condition.

### Setup

First, let's run the setup code again to initialize our database and create the `students` table.

In [ ]:
import pyodide_http
pyodide_http.patch_all()
import pandas as pd
import duckdb
%load_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False
%sql duckdb:///:memory:

%%sql
CREATE TABLE students (StudentID int, Name varchar, Age int, Grade int);
INSERT INTO students VALUES (1, 'Alice', 14, 90), (2, 'Bob', 15, 85), (3, 'Charlie', 14, 92);

### Basic Filtering

Let's select only the students who are 14 years old.

In [ ]:
%%sql
SELECT * FROM students WHERE Age = 14;

### Using Other Operators

You can use other comparison operators like `>`, `<`, `>=`, `<=`, and `!=` (or `<>`). Let's find all students with a grade greater than 90.

In [ ]:
%%sql
SELECT * FROM students WHERE Grade > 90;

### Combining Conditions with `AND` and `OR`

You can combine multiple conditions using `AND` (both conditions must be true) and `OR` (at least one condition must be true).

In [ ]:
-- Find students who are 14 AND have a grade over 90
%%sql
SELECT * FROM students WHERE Age = 14 AND Grade > 90;

In the final lesson of this module, you'll learn how to modify data using `INSERT`, `UPDATE`, and `DELETE`.