# Lesson 4: Modifying Data

Besides querying data, a key part of SQL is modifying it. In this lesson, we'll learn about `INSERT`, `UPDATE`, and `DELETE`.

### Setup

First, let's run the setup code again to initialize our database and create the `students` table.

In [ ]:
import pyodide_http
pyodide_http.patch_all()
import pandas as pd
import duckdb
%load_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False
%sql duckdb:///:memory:

%%sql
CREATE TABLE students (StudentID int, Name varchar, Age int, Grade int);
INSERT INTO students VALUES (1, 'Alice', 14, 90), (2, 'Bob', 15, 85), (3, 'Charlie', 14, 92);

### `INSERT INTO` - Adding New Data

The `INSERT INTO` statement is used to add new rows of data to a table.

In [ ]:
%%sql
INSERT INTO students (StudentID, Name, Age, Grade) VALUES (4, 'Diana', 16, 88);

-- Let's check the table to see the new student
SELECT * FROM students;

### `UPDATE` - Modifying Existing Data

The `UPDATE` statement is used to modify existing records in a table. It's crucial to use a `WHERE` clause with `UPDATE`, otherwise you will update all rows in the table!

In [ ]:
%%sql
-- Let's give Bob a 2-point grade boost
UPDATE students SET Grade = 87 WHERE Name = 'Bob';

SELECT * FROM students;

### `DELETE` - Removing Data

The `DELETE` statement is used to delete existing records. Just like `UPDATE`, you must use a `WHERE` clause to specify which record(s) to delete.

In [ ]:
%%sql
-- Let's remove Charlie from the table
DELETE FROM students WHERE Name = 'Charlie';

SELECT * FROM students;

### Congratulations!
You now know the four fundamental operations of SQL, often called **CRUD**:
- **C**reate (`INSERT`)
- **R**ead (`SELECT`)
- **U**pdate (`UPDATE`)
- **D**elete (`DELETE`)

This concludes our introductory module on SQL!